{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

  <form action="/form" method="post" class="needs-validation" novalidate>
    <div class="form-row" id="name">
        <div class="form-group col-md-4">
          <label>First Name</label>
          <input type="text" class="form-control" placeholder="First Name" name="firstname" id="firstName" required>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group col-md-4">
          <label>Middle name</label>
          <input type="text" class="form-control" placeholder="Middle name" name="middlename" id="middleName" required>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group col-md-4">
          <label>Last name</label>
          <input type="text" class="form-control" placeholder="Last name" name="lastname" id="lastName" required>
          <div class="invalid-feedback">Please fill out this field.</div>
          </div>
      </div>

      <div class="form-row" id="contacts">
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="username@example.com" name="email" id="inputEmail" required>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group col-md-6">
          <label>Phone Numer</label>
          <input type="text" class="form-control" placeholder="e.g. +923xxxxxxxxx" name="phoneNumber" maxlength="13" id="phoneNo" required>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>

      <div class="form-row" id="universityInfo">
        <div class="form-group col-md-4">
          <label for="inputBatch">Batch</label>
          <select class="form-control" id="inputBatch" name="batch" required>
            <option></option>
            <option>2019-2020</option>
            <option>2018-2019</option>
            <option>2016-2017</option>
            <option>2015-2016</option>
          </select>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group col-md-4">
          <label>Department</label>
          <select class="form-control" name="department" required>
            <option></option>
            <option>Electrical Engineering</option>
            <option>Mechanical Engineering</option>
            <option>Civil Engineering</option>
            <option>Computer Science</option>
          </select>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputRollNo">Roll Number</label>
          <input type="text" class="form-control" placeholder="Roll No#" name="rollNo" id="inputRollNo" required>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <label>Are you staisfied with the layout of the form ?</label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" value="yes" name="suggestion" id="yesSatisfied" required>
        <label class="form-check-label" for="yesSatisfied">
          Yes
        </label>
        <br>
        <input class="form-check-input" type="radio" value="no" name="suggestion" id="notSatisfied" required>
        <label class="form-check-label" for="notSatisfied">
          No
        </label>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      </div>
      <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
      <button class="btn btn-primary" type="submit" onclick="myFunction()">Submit</button>
    </form>

    <script>
      // Disable form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Get the forms we want to add validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>



{% endblock %}