header
{

    background-color: purple;
}
#head
{
    color: black;
    text-align: center;
    background-color: orange
}
#HeadInfo
{
    color: white;
}
#page-content
{
    background-color: black;
}
#top-bar
{
    background-color: white;
    text-align: center;
}
.img-fluid
{
    border: 1px solid black;
    cursor: none;
}
footer
{
    background-color: grey;
    text-align: center;
    color: white;
}